<!-- REPLACE with useful stuff -->

{% macro blog_rightbar() %}

    <!-- REPLACE with useful stuff -->
    <div class="col-lg-3 mt-5 mt-lg-0">
        <div data-sticky="" data-margin-top="80" data-sticky-for="767" style="">
            <!-- Contribute widget START -->
            <div>
                <h4 class="mb-3">Engaging stuff: Contribute!</h4>
                <p>How...</p>
            </div>
            <!-- Contribute widget END -->

            <div class="row">
                <!-- Other Stuff widget START -->
                <div class="col-12 col-sm-6 col-lg-12">
                    <h4 class="mt-4 mb-3">Other Stuff</h4>
                    <!-- Recent post item -->

                </div>
                <!-- Other Stuff widget END -->

            </div>
        </div>
    </div>

{% endmacro %}