{% macro render_blog_post(post) %}
<h2>{{ post.title }}</h2>
<h3>{{ post.pub_date|dateformat('d.MM.YYYY')}}</h3>

{% if post.teaser_image %}
<div class="image">
    <img src="{{ (post.path ~ '/' ~ post.teaser_image)|url }}" alt="{{ post.title }}">
</div>
{% endif %}

<div class="post-body">{{ post.body }}</div>
{% endmacro %}

{% macro render_blog_post_in_list(post) %}

{% if post.teaser_image %}
<img src="{{ (post.path ~ '/' ~ post.teaser_image)|url }}" alt="{{ post.title }}">
{% endif %}

<div class="usp-text">
    <h2>{{ post.title }}</h2>
    <div>{{ post.teaser_text }}</div>
</div>
{% endmacro %}

{% macro render_blog_as_usp(post) %}
<li class="usp">
    <a href="{{ post|url }}">
        {{ render_blog_post_in_list(post) }}

        {% if post.cta %}
        <div class="cta">{{ post.cta }}</div>
        {% endif %}
    </a>
</li>
{% endmacro %}
