{% extends "layout.html" %}
{% from "macros/board.html" import render_board_member %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<h1>{{ this.title }}</h1>
{{ this.body }}

<div class="current-members">
    <h2>Vorstand</h2>
    <ol class="content-list board-members">
        {% for member in bag('board')['current_members'] %}
        {{ render_board_member(member, this.alt) }}
        {% endfor %}
    </ol>
</div>

<div class="current-auditors">
    <h2>{% if this.alt == 'en' %}Auditors{% else %}Rechnungsprüfer{% endif %}</h2>
    <ol class="content-list board-members">
        {% for member in bag('board')['current_auditors'] %}
        {{ render_board_member(member, this.alt) }}
        {% endfor %}
    </ol>
</div>

<div class="former-members">
    <h2>Ehemalige Vorstandsmitglieder</h2>
    <ol class="content-list board-members">
        {% for member in bag('board')['former_members'] %}
        {{ render_board_member(member, this.alt) }}
        {% endfor %}
    </ol>
</div>

{% endblock %}
