<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Software Verband</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ '/stylesheets/main.css'|url }}">
</head>

<body class="page">
    <div class="main-content">

        <nav aria-label="Site Navigation" class="main-navigation">
            <a href="/"><img src="/images/logo.png" alt="Python Software Verband" class="nav-logo"></a>

            <ol class="intrapage-links">
                {% for page in bag('links')['pages'] %}
                <li class="navigation-link"><a href="/{{ page.path|url }}">{{ page.name }}</a></li>
                {% endfor %}
            </ol>
        </nav>

        <div class="content">
            {% block body %}
            {% endblock %}
        </div>

        <footer>
            <ul>
                <li class="footer-link"><a href="/imprint">Impressum</a></li>
                <li class="footer-link"><a href="/privacy">Datenschutz</a></li>
                <li class="footer-link"><a href="/coc">Code of Conduct</a></li>
                <li class="footer-link"><a href="https://www.linkedin.com/company/pysv">Kontakt</a></li>
            </ul>
        </footer>
    </div>
</body>

</html>
