<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Software Verband</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ '/stylesheets/main.css'|url }}">
</head>

<body class="page">
    <div class="main-content">

        <nav aria-label="Site Navigation" class="main-navigation">

            <ol class="intrapage-links">
                <li class="navigation-link">
                    <a href="{{ '/'|url }}"><img src="{{ '/images/logo.png'|url }}" alt="Python Software Verband" class="nav-logo"></a>
                </li>

                {% for page in bag('links')['pages'] %}
                {% if page.subpages %}
                <li class="dropdown">
                    <button class="dropdown--button">
                        {{ page.name }}
                    </button>

                    <div class="dropdown--content">
                        {% for subpage in page.subpages %}
                        <a href="{{ subpage.path|url }}">{{ subpage.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% else %}
                <li class="navigation-link">
                    <a href="{{ ('/' ~ page.path)|url }}">{{ page.name }}</a>

                </li>
                {% endif %}
                {% endfor %}
            </ol>

            <div class="collapsed-navigation">
                <label class="hamburger-menu">
                    <input type="checkbox" />
                </label>

                <aside class="sidebar">
                    <nav aria-label="Site Navigation">
                        <ul class="nav">
                            <li>
                                <a href="{{ '/'|url }}"><img src="{{ '/images/logo.png'|url }}" alt="Python Software Verband"
                                        class="nav-logo"></a>

                            </li>
                            {% for page in bag('links')['pages'] %}
                            {% if page.subpages %}
                            {% for subpage in page.subpages %}
                            <li><a href="{{ subpage.path|url }}">{{ subpage.name }}</a></li>
                            {% endfor %}
                            {% else %}
                            <li><a href="{{ ('/' ~ page.path)|url }}">{{ page.name }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </aside>
            </div>
        </nav>


        <div class="content">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="footer">
            <ul class="legal-links">
                <li class="footer-link"><a href="{{ '/imprint'|url }}">Impressum</a></li>
                <li class="footer-link"><a href="{{ '/privacy'|url }}">Datenschutz</a></li>
                <li class="footer-link"><a href="{{ '/coc'|url }}">Code of Conduct</a></li>
            </ul>

            <ul class="contact-links">
                <li class="footer-link"><a href="mailto:info@pysv.org">Kontakt</a></li>
                <li class="footer-link"><a href="https://www.linkedin.com/company/pysv">LinkedIn</a></li>
                <li class="footer-link"><a href="https://www.youtube.com/c/PyConDE">Youtube</a></li>
                <li class="footer-link"><a href="https://x.com/PythonSV">X</a></li>
            </ul>
        </footer>
    </div>
</body>

</html>
