{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<h1>{{ this.title }}</h1>
{{ this.body }}

<ol class="content-list company-members">
    {% for member in bag('membership')['members'] %}
    <li class="company-member">
        <a href="{{ member.url }}">
            {% if member.logo %}
            <div class="image{% if member.dark_bg %} image--dark{% endif %}">
                <img src="{{ ('/membership/' ~ member.logo)|url }}" alt="{{member.name}}">
            </div>
            {% else %}
            <div class="image image--placeholder" aria-hidden="true">
                <span>{{ member.name[0]|upper }}</span>
            </div>
            {% endif %}
            <div class="details">
                <div class="name">{{ member.name }}</div>
                <div class="website">{{ member.url }}</div>
            </div>
        </a>
    </li>
    {% endfor %}
</ol>

{% endblock %}
