{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}


<div class="hero">
    <h1>{{ this.title }}</h1>
    {{ this.hero }}
</div>

<ol class="usps">
    {% for post in site.query('/blog').filter(F.show_on_homepage == True).order_by('-pub_date') %}
    <li class="usp">
        <a href="{{ post|url }}">
            <h2>{{ post.title }}</h2>
            <div>{{ post.teaser }}</div>

            {% if post.cta %}
            <div class="cta">{{ post.cta }}</div>
            {% endif %}
        </a>
    </li>
    {% endfor %}
    {% endblock %}
</ol>
