{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_preview %}
{% from "macros/right_sidebar.html" import blog_rightbar %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}

    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border p-4 text-center rounded-3">
                        <h1><i class="bi bi-hourglass-top me-2"></i>Latest Blogposts</h1>
                        <p>Latest breaking news, pictures, videos, and special reports</p>
                        <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-dots m-0">
                                <li class="breadcrumb-item active"><a href="#">How to contribute to this blog</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="position-relative pt-0">
        <div class="container" data-sticky-container>
            <div class="row">
                <div class="col-lg-9">


                    <!-- Render paginated post previews -->
                    {% for subpage in this.pagination.items %}

                        <div class="mb-4">
                            <div class="row">
                                {{ render_blog_preview(subpage) }}
                            </div>
                        </div>

                    {% endfor %}

                    <!-- Pagination for posts -->
                    {% if this.pagination.pages > 1 %}
                        {{ render_pagination( this.pagination) }}
                    {% endif %}

                </div>

                {{ blog_rightbar() }}

            </div>
        </div>
    </section>





{% endblock %}