{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

  <section class="section section--singular">
    <div class="container">
      <div class="row in-view">
        <div class="col-12 col-xl-10 offset-xl-1">
          <header class="page-header in-view__child in-view__child--fadein">
            <h1 class="page-title">Blog &amp; News</h1>
            <h5 class="page-subtitle">
              <span>Pythonic news from the organisers.</span>
            </h5>
          </header>
          <div class="masonry indexed-list row">
              {% for post in this.pagination.items %}

            <article class="masonry-item indexed-list__item col-12 col-md-6 col-lg-4">
              <div class="indexed-list__wrap indexed-list__in-view">
                <div class="indexed-list__wrap__copy">
                  <span class="indexed-list__wrap__info sub-head-2">
                    <span>{{ post.pub_date|dateformat }} by {{ post.author }}</span>
                  </span>
                  <h2 class="indexed-list__wrap__title">
                    <a href="{{ post|url }}">{{ post.title }}</a>
                  </h2>
                  <p class="indexed-list__wrap__link">
                    <a href="{{ post|url }}">Read more</a>
                  </p>
                </div>
              </div>
            </article>

              {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}