<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — PySV-website</title>
<body>
<header>
   <a href="/">
        <img src="{{ '/static/media/logo.png'|url }}" alt="Home" width="232"
            >
    </a> 
   
    <nav>
        <ul class="nav navbar-nav">

            {% for item in bag('links')['mainnav'] %}

            {% if "submenu" not in item %}
            <li><a href="{{ item.path|url }}">{{ item.name }}</a></li>

            {% else %}
            <li><a href="#">{{ item.name }}</a>
            <ul class="sub-menu">
                {% for sub_item in item.submenu %}
                <li>
                    <a href="{{ sub_item.path|url }}"><span>{{ sub_item.name }}</span></a>
                </li>
                {% endfor %}
            </ul>
            </li>

            {% endif %}

            {% endfor %}
        </ul>
    </nav>
</header>
<div class="page">
    {% block body %}{% endblock %}
</div>
<footer>
    &copy; Copyright 2021 by Python Software Verband.
</footer>
</body>
