<!DOCTYPE html>
<html lang="de" data-theme="light">
<head>
    <title>{{ site.config.PROJECT.organisation_shortname }}: {{ this.title }}</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta name="author" content="pysv.org">
    <meta name="description" property="og:description"
          content="{{ site.config.PROJECT.organisation_description }}"/>
    <meta content="summary" name="twitter:card"/>
    <meta content="{{ site.config.PROJECT.organisation_name }}" property="og:site_name"/>
    <meta content="{{ this.title }}" property="og:title"/>
    <meta content="website" property="og:type"/>
    <meta content="https://{{ site.config.PROJECT.site_url }}" property="og:url"/>
    <meta content="https://python-verband.org/@@site-logo/logo.png" property="og:image"/>
    <meta content="image/png" property="og:image:type"/>

    <!-- Twitter Card data START -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.config.PROJECT.organisation_twitter_handle }}">
    <meta name="twitter:title" content="{% if this.meta_twitter_title %}{{ this.meta_twitter_title }}{% else %}{{ this.title }}{% endif %}">
    <meta name="twitter:description" content="{{ this.description }}">
    {% if this.twitter_image %}
        <meta name="twitter:image" content="{{ this.twitter_image|asseturl }}">
    {% else %}
        <meta name="twitter:image" content="{{ site.config.PROJECT.twitter_image|asseturl }}">
    {% endif %}
    <!-- Twitter Card data END -->


    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico'|asseturl }}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&amp;family=Rubik:wght@400;500;700&amp;display=swap"
          rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/font-awesome/css/all.min.css'|url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/bootstrap-icons/bootstrap-icons.css'|url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/tiny-slider/tiny-slider.css'|url }}">

    <!-- Theme CSS-->
    <link id="style-switch" rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css'|url }}">

</head>

<body>
<!-- Top alert START -->

<!-- Top alert END -->

<!-- Offcanvas START -->

<header class="navbar-light navbar-sticky header-static">
    <div class="navbar-top d-none d-lg-block small">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center my-2">
                <!-- Top bar left -->
                <ul><!-- Keep for left space --></ul>
                <!-- Top bar right -->
                <div class="d-flex align-items-center">
                    <!-- Font size accessibility START -->
                    <div class="btn-group me-2" role="group" aria-label="font size changer">
                        <input type="radio" class="btn-check" name="fntradio" id="font-sm">
                        <label class="btn btn-xs btn-outline-primary mb-0" for="font-sm">A-</label>

                        <input type="radio" class="btn-check" name="fntradio" id="font-default" checked="">
                        <label class="btn btn-xs btn-outline-primary mb-0" for="font-default">A</label>

                        <input type="radio" class="btn-check" name="fntradio" id="font-lg">
                        <label class="btn btn-xs btn-outline-primary mb-0" for="font-lg">A+</label>
                    </div>

                    <!-- Dark mode switch -->
                    <div class="modeswitch" id="darkModeSwitch">
                        <div class="switch"></div>
                    </div>

                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link px-2 fs-5" href="https://twitter.com/PythonSV" target="_blank"><i
                                    class="fab fa-twitter-square"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 fs-5" href="https://www.linkedin.com/company/pysv"
                               target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 fs-5" href="https://www.youtube.com/c/PyConDE" target="_blank"><i
                                    class="fab fa-youtube-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Divider -->
            <div class="border-bottom border-2 border-primary opacity-1"></div>
        </div>
    </div>

    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo START -->
            <a class="navbar-brand" href="/">
                <img class="navbar-brand-item light-mode-item" src="{{ 'assets/images/logo.png'|asseturl }}" alt="logo">
                <img class="navbar-brand-item dark-mode-item" src="{{ 'assets/images/logo.png'|asseturl }}" alt="logo">
            </a>
            <!-- Logo END -->

            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="text-body h6 d-none d-sm-inline-block">Menu</span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Main navbar START -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll mx-auto">

                    {% for item in bag('links')['mainnav'] %}
                        {% if "submenu" not in item %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ item.path|url }}">{{ item.name }}</a>
                            </li>

                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="{{ item.id }}" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">{{ item.name }}</a>
                                <ul class="dropdown-menu" aria-labelledby="{{ item.id }}">
                                    {% for sub_item in item.submenu %}
                                        <li>
                                            <a class="dropdown-item" href="{{ sub_item.path|url }}">{{ sub_item.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <!-- Main navbar END -->
        </div>
    </nav>
    <!-- Logo Nav END -->
</header>


<div id="sticky-space" style="height: 0px;"></div>

<main>

    <!-- NEWS TICKER START, data is stored in databags/news.json -->
    {% from 'macros/news.html' import render_news_from %}
    <section class="py-2">
        <div class="container">
            <div class="row g-0">
                <div class="col-12 bg-primary-soft p-2 rounded">
                    <div class="d-sm-flex align-items-center text-center text-sm-start">
                        <!-- Title -->
                        <div class="me-3">
                            <span class="badge bg-primary p-2 px-3">News:</span>
                        </div>
                        <!-- Slider -->
                        <div class="tiny-slider arrow-end arrow-xs arrow-white arrow-round arrow-md-none">
                            <div class="tns-outer" id="tns1-ow">
                                <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span
                                        class="current">3</span> of 3
                                </div>
                                <div id="tns1-mw" class="tns-ovh">
                                    <div class="tns-inner" id="tns1-iw">
                                        <div class="tiny-slider-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                                             data-autoplay="true" data-hoverpause="true" data-gutter="0" data-arrow="true" data-dots="false"
                                             data-items="1" id="tns1" style="transform: translate3d(-40%, 0px, 0px);">

                                            {% for message in bag("news").message %}
                                                {{ render_news_from(message, loop.index) }}
                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>
                                <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0">
                                    <button type="button" data-controls="prev" tabindex="-1" aria-controls="tns1"><i
                                            class="fas fa-chevron-left"></i></button>
                                    <button type="button" data-controls="next" tabindex="-1" aria-controls="tns1"><i
                                            class="fas fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Row END -->
        </div>
    </section>
    <!-- NEWS TICKER END -->
    {% block body %}
    {% endblock %}
</main>


<!-- =======================Footer START -->
<footer class="bg-dark pt-5">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-12 col-lg-6 mb-4">
                <h5 class="mb-4 text-white">Legal</h5>
                <div class="row">
                    <div class="col-4">
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"><a class="nav-link pt-0" href="{{ "/imprint"|url }}/">Impressum</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"><a class="nav-link" href="{{ "/privacy-policy"|url }}">Datenschutz</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"><a class="nav-link" href="{{ "/code-of-conduct"|url }}">Code of Conduct</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ "/contact"|url }}">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class=" row pt-5">
                                <div class="col-md-12 col-lg-6 mb-4">
                                    <p>&copy; Copyright 2021 by Python Software Verband e.V.</p>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- =======================Footer END -->

<!-- Back to top -->
<div class="back-top back-top-show"><i class="bi bi-arrow-up-short"></i></div>
<!-- ======================= JS libraries, plugins and custom scripts -->
<!-- Bootstrap JS -->
<script src="{{ '/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' }}"></script>
<!-- Vendors -->
<script src="{{ '/assets/vendor/tiny-slider/tiny-slider.js'|asseturl }}"></script>
<script src="{{ '/assets/vendor/sticky-js/sticky.min.js'|asseturl }}"></script>
<script src="{{ 'assets/vendor/glightbox/js/glightbox.js'|asseturl }}"></script>
<!-- Template Functions -->
<script src="{{ '/assets/js/functions.js'|asseturl }}"></script>

</body>
