{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

{% for member_type in bag('members').types %}

<section class="padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-1">
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                        <header class="page-header">
                            <h5 class="page-subtitle"><span>{{ member_type.name }}</span></h5>
                        </header>
                    </div>
                </div>

                <div class="row">

                    {% for member in member_type.members %}

                        <div class="col-12 col-lg-6">
                            <div class="workshop">

                                <div class="row">
                                    <div class="col-12 col-lg-4 in-view">
                                        <div class="poster--square">
                                            <figure><img class="lazyload--el lazyload in-view__child"
                                                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                         data-src="{{ sponsor.logo }}" alt="" width="445" height="445">
                                                <div class="poster--cover in-view in-view__child"></div>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-8 in-view">
                                        <h5 class="margin-top-0 in-view__child in-view__child--fadein">{{ member.name }}</h5>
                                        <p class="text-body-3 in-view__child in-view__child--fadein">{{ member.link }}
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

{% endblock %}