{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

    <section class="pt-0">
        <div class="container position-relative">

            <div class="row">
                <div class="col-lg-10 mb-5">

                    <h1>
                        <i class="bi me-2"></i>{{ this.title }}
                    </h1>
                    <div class="col-lg-12 mb-5">
                        <p>{{ this.teaser }}</p>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <p>{{ this.body }}</p>
                    </div>


                </div>

            </div>
        </div>
        </div>
        </div>
    </section>

{% endblock %}
